---
import Layout from '../layouts/Layout.astro';
import Equipe from '../components/Equipe.astro';
import Titulo from '../components/Titulo.astro';
import Background from '../components/Background.astro';
import Divider from '../components/Divider.astro';
import Copyrigth from '../components/Copyrigth.astro';

---

<script is:inline src="./scripts/getTeams.js"></script>

<style is:inline>
    .campeoes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        gap: 1rem;
        width: fit-content;
        margin: auto;
        height: 25rem;
    }

    .campeoes > *:nth-child(2) {
        align-items: start;
    }
    
    .campeoes > * {
        display: flex;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .outros {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    @media (max-width: 990px) {
        .outros {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            row-gap: 6rem;
        }
    }

    @media (max-width: 550px) {
        .outros {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
    
</style>

<Layout>
    <Background/>
    <Titulo/>
    
    <div x-init="equipes = await buscarTimes()" x-data="{equipes: []}">
        <div class="wrapper" x-show="equipes.length > 0" x-transition x-cloak>
            <div class="campeoes">
                <div class="prata">
                    <template x-for="(equipe, i) in equipes.filter((e, i) => i == 1)">
                        <Equipe rank="2"/>
                    </template>
                </div>
                <div class="ouro" style="--logo-width: 6rem">
                    <template x-for="(equipe, i) in equipes.filter((e, i) => i == 0)">
                        <Equipe rank="1"/>
                    </template>
                </div>
                <div class="bronze">
                    <template x-for="(equipe, i) in equipes.filter((e, i) => i == 2)">
                        <Equipe rank="3"/>
                    </template>
                </div>
            </div>
            
            <Divider/>
            
            <div class="outros">
                <template x-for="(equipe, i) in equipes.filter((e, i) => i > 2)">
                    <Equipe/>
                </template>
            </div>
            
            <Copyrigth/>
        </div>
    </div>
</Layout>
