---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <script is:inline src="./scripts/getTeams.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id');
        buscarTime().then(res => console.log(res))
    </script>
    <a href="/">Voltar</a>
    <div 
    x-init="time = await buscarTime()" 
    x-data="{time: {}}">
    	<div x-show="!time">
		Carregando...
	    </div>
        <img :src="time.Logo[0].url" alt="" width="240">
        <h1 x-text="time.Nome"></h1>
        <p>Pontos: <span x-text="time.Pontos"></span></p>
    </div>
</div>
</Layout>
