<style>
    .divider {
        height: 2px;
        width: 100%;
        margin-top: 0rem;
        background: #eb3636;
        background: linear-gradient(90deg,rgba(235, 54, 54, 1) 0%, rgba(109, 209, 73, 1) 38%, rgba(237, 237, 237, 1) 72%, rgba(47, 237, 237, 1) 100%);
        margin-bottom: 5rem;
    }
</style>

<div class="divider" x-show="equipes.length !== 0"></div>