<style>   
    p {
        margin: 0;
    }

    .el-wrapper {
        display: flex !important; 
        gap: 0.5rem;
        color: var(--element-color)
    }

    @media (max-width: 550px) {
        .el-wrapper {
            margin-top: 1rem;
        }
    }
</style>

<div class="el-wrapper">
    <span class="icon" x-show="equipe.Elemento.value == 'Fogo'">
        <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.66 8.2C13.43 7.9 13.15 7.64 12.89 7.38C12.22 6.78 11.46 6.35 10.82 5.72C9.32999 4.26 8.99999 1.85 9.94999 0C8.99999 0.23 8.16999 0.75 7.45999 1.32C4.86999 3.4 3.84999 7.07 5.06999 10.22C5.10999 10.32 5.14999 10.42 5.14999 10.55C5.14999 10.77 4.99999 10.97 4.79999 11.05C4.56999 11.15 4.32999 11.09 4.13999 10.93C4.08323 10.8825 4.03577 10.8248 3.99999 10.76C2.86999 9.33 2.68999 7.28 3.44999 5.64C1.77999 7 0.869989 9.3 0.999989 11.47C1.05999 11.97 1.11999 12.47 1.28999 12.97C1.42999 13.57 1.69999 14.17 1.99999 14.7C3.07999 16.43 4.94999 17.67 6.95999 17.92C9.09999 18.19 11.39 17.8 13.03 16.32C14.86 14.66 15.5 12 14.56 9.72L14.43 9.46C14.22 9 13.66 8.2 13.66 8.2ZM10.5 14.5C10.22 14.74 9.75999 15 9.39999 15.1C8.27999 15.5 7.15999 14.94 6.49999 14.28C7.68999 14 8.39999 13.12 8.60999 12.23C8.77999 11.43 8.45999 10.77 8.32999 10C8.20999 9.26 8.22999 8.63 8.49999 7.94C8.68999 8.32 8.88999 8.7 9.12999 9C9.89999 10 11.11 10.44 11.37 11.8C11.41 11.94 11.43 12.08 11.43 12.23C11.46 13.05 11.1 13.95 10.5 14.5Z" fill="currentColor"/>
        </svg>
    </span> 
    <span class="icon" x-show="equipe.Elemento.value == 'Agua'">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 20C10.4087 20 8.88258 19.3679 7.75736 18.2426C6.63214 17.1174 6 15.5913 6 14C6 10 12 3.25 12 3.25C12 3.25 18 10 18 14C18 15.5913 17.3679 17.1174 16.2426 18.2426C15.1174 19.3679 13.5913 20 12 20Z" fill="currentColor"/>
        </svg>
    </span> 
    <span class="icon" x-show="equipe.Elemento.value == 'Terra'">
        <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.1665 0.0968421L15.5815 1.88258C17.5794 10.4782 13.6895 15.4977 7.77251 16.873L6.07427 17.2677C5.63849 14.5344 6.09768 12.7121 7.83392 10.2701C8.68791 9.06933 8.46921 8.54139 8.013 8.97963C4.87082 11.9968 3.74071 15.3501 4.74862 20.0509L4.82272 20.3819L3.03699 20.797C2.75413 19.58 2.60099 18.4515 2.57143 17.393C2.09813 16.2852 1.63104 14.7412 1.17015 12.761C0.0239814 7.82968 3.09225 2.90322 8.02355 1.75705C9.80929 1.342 11.8025 1.81981 15.1665 0.0968421Z" fill="currentColor"/>
        </svg>
        
    </span> 
    <span class="icon" x-show="equipe.Elemento.value == 'Ar'">
        <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.10046 4.08385H5.28378C5.37773 2.7638 7.2912 2.68041 7.95653 3.63288C8.68705 4.67875 8.29044 6.29002 5.96505 6.26721H0.0205078V8.45053H5.96505C8.76977 8.45053 10.4692 6.73662 10.4692 4.6297C10.3609 -0.155897 3.34055 -0.502147 3.10046 4.08385ZM10.8088 17.0829H4.21222V14.8997H10.8087C16.9745 14.9645 16.4311 22.3654 11.4921 22.5413C9.27161 22.5413 7.94415 20.8766 7.94415 19.2664H10.1275C10.1275 19.7194 10.551 20.3581 11.4921 20.3581C13.5941 20.2423 13.9876 17.0829 10.8088 17.0829ZM11.7782 8.417H13.712C13.6152 5.83464 17.9402 5.48776 17.8411 8.417C17.8411 9.61405 16.9943 10.6003 14.6899 10.6003H0.0205078V12.7837H15.0159C18.4286 12.7837 20.0144 10.5902 20.0144 8.417C20.0144 2.77894 11.7782 2.78373 11.7782 8.417ZM2.88268 14.8997H0.0205078V17.1013H2.88268V14.8997Z" fill="currentColor"/>
        </svg>
    </span> 
    <p x-text="equipe.Elemento.value">Elemento</p>
    
</div>