---
import Logo from "./Logo.astro";
import Medalha from "./Medalha.astro";
---

<style is:global>
    .rank {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .rank-ring {
        background: url("/images/ranks/neutral frame.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 1/1.2;
        z-index: 2;
        width: 100%;
        position: absolute;
    }
    
    .outros .rank-ring {
        padding: 0.1rem;
    }
    
    .glow {
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 1/1.2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .star {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0.5rem;
        aspect-ratio: 1/1.2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        transform: scale(1.8);
        z-index: -1;
        filter: blur(0.5rem);
    }

    .animate-rotate {
        animation: rotate 10s infinite linear;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
    }

    .star, .glow {
        pointer-events: none;
    }
    
    .ouro .star {
        background-image: url("/images/ranks/gold star.svg");
    }
    
    .ouro .glow {
        background-image: url("/images/ranks/gold glow.svg");
    }
    
    .prata .glow {
        background-image: url("/images/ranks/silver glow.svg");
    }
    
    .prata .star {
        background-image: url("/images/ranks/silver star.svg");
    }
    
    .bronze .glow {
        background-image: url("/images/ranks/bronze glow.svg");
    }
    
    .bronze .star {
        background-image: url("/images/ranks/bronze star.svg");
    }
    
    .ouro .rank-ring {
        background-image: url("/images/ranks/gold frame.svg");
    }
    
    .prata .rank-ring {
        background-image: url("/images/ranks/silver frame.svg");
    }
    
    .bronze .rank-ring {
        background-image: url("/images/ranks/bronze frame.svg");
    }

    .emblema {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }    

    .outros .emblema {
        height: 10.5rem;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @media (max-width: 550px) {
        .glow, .star {
            display: none;
        }
    }
</style>

<div class="emblema">
    <div class="rank">
        <div class="glow"></div>
        <div class="animate-rotate">
            <div class="star"></div>
        </div>
        <Logo/>
        <div class="rank-ring"></div>
    </div>
</div>
