<style>
    .pts {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: #9F9F9F;
        margin-top: 1rem;
    }

    .box {
        background-color: white;
        color: black;
        padding: 0.2rem;
        border-radius: 0.5rem;
        width: 5rem;
    }

    @media (max-width: 550px) {
    }

    

</style>

<div class="pts">
    <div>
        PONTOS 
    </div>
    <div class="box" x-text="equipe.Pontos">9999</div>
</div>