<style>
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        animation: fade-in 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        text-wrap: nowrap;
        padding: 2rem 0;
        padding-top: 0rem;
    }

    h1 span {
        font-size: 3rem;
        background: #bf2626;
        background: linear-gradient(90deg,rgba(191, 38, 38, 1) 0%, rgba(222, 181, 31, 1) 37%, rgba(255, 255, 255, 1) 70%, rgba(83, 237, 211, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<h1>
    Desafio dos <br>
    <span>4 Elementos</span>
</h1>