<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.png" />
	<meta name="generator" content={Astro.generator} />
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<title>Ranking Desafio dos 4 Elementos</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<slot />
	</div>
</body>
</html>

<style is:global>
	
	
	html,
	body {
		font-family: Montserrat, sans-serif;			
		overflow-x: hidden;	
	}

	body {
		background-color: #111;
		color: #ddd;
		padding: 2rem;
		box-sizing: border-box;
		font-weight: 700;
	}
	
	.container {
		max-width: 90vw;
		width: 980px;
		margin: auto;
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		text-align: center;
	}

	.container > * {
		width: 100%;
	}
	
	[x-cloak] { display: none !important; }

	
	
	
	@media (max-width: 550px) {
		html {
			font-size: 12px;
		}
	}
</style>
